body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: aliceblue;
}

.block{
    text-align: center;
}

.displayData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.displayError{
    background-color: red;
    display: none;
}