body{
    background-color: black;
    color: azure;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.displayArea{
    display: flex;
    gap: 20px;
    align-items: center;
}
.displayArea input{
    padding: 10px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
}